.THIS .card-shape{
    border-color: black!important;
    border-radius:  20px!important;
    border-width:  2px!important;   
}
.THIS .slds-media.slds-media--center.slds-has-flexi-truncate {
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
}
.THIS .slds-media__body.slds-truncate{
    margin-bottom: 5px;
} 

.THIS .slds-media__figure{
    margin-bottom: 5px;
}

.THIS .margin-grid {
    margin-bottom: 100px!important;
    padding-bottom: 10px!important;
}
.THIS .section-padding-top {
    padding-top: 20px;
}